# These packages can be also found in pyproject.toml [dependency-groups]

furo>=2024.8.6
gitpython>=3.1.44
matplotlib>=3.9.4
myst-parser>=3.0.1
pre-commit>=4.1.0
pygithub>=2.5.0
pytest>=8.3.4
pytest-cov>=6.0.0
pytest-xdist>=2.2
ruff>=0.9.3
sphinx>=7.4.7
sphinx-copybutton>=0.5.2
sphinx-design>=0.6.1
sphinx-reredirects>=0.1.5
sphinxcontrib-programoutput>=0.18
sphinxext-opengraph>=0.9.1
types-decorator>=5.1.8.20250121
types-pillow>=10.2.0.20240822
types-pygments>=2.19.0.20250107
psutil>=6.1.1
requests>=2.32.3
